---
title: About me
---

<h1 class="section-heading">{{ page.title }}</h1>

<div class="content-box">
  <p>
    I've been a web developer for over 5 years and in that time I've worked for a number of well known brands such as
    the Radio Times and the Royal Opera House.
  </p>

  <p>
    I specialise in front-end architecture and have experience in building component libraries and style guides.
  </p>

  <p>
    I enjoy keeping things simple and prefer writing functionality in vanilla JavaScript, especially since the 
    improvements to the specification made in ES2015.
  </p>

  <p>
    For more complex user interfaces I've started using React and really appreciate how powerful it is for building 
    reusable components.
  </p>
</div>

<h2 class="section-heading">More skills</h2>

<div class="content-box">
  <div class="dev-icons">
    {% for icon in site.data.dev-icons %}
      <div class="dev-icons__item text-center">
        {% include {{ icon.path | prepend: 'dev-icons/' }} %}
        <span class="dev-icons__title">{{ icon.title }}</span>
      </div>
    {% endfor %}
  </div>
</div>

<h2 class="section-heading">Want my full CV?</h2>

<div class="content-box text-center">
  {% assign cv_files = site.static_files | where: "cv", true %}
  {% for cv in cv_files %}
    <a href="{{ cv.path }}" target="_blank" class="cv-link">
      {% include icons/document.svg %}
      {{ cv.basename }}
    </a>
  {% endfor %}
</div>
