---
layout: default
title: Posts
---

<h1 class="section-heading">{{ page.title }}</h1>

<div class="tag-box">
  {% for tag in site.tags %}
    {% assign tag_name = tag | first %}
    {% include tag-link.html name=tag_name %}
  {% endfor %}
</div>

<h2 class="section-heading">All posts</h2>

{% for post in site.posts %}
<article class="article-snippet">
  <a href="{{ post.url }}" class="article-snippet__link">
    <h3 class="article-snippet__title">{{ post.title }}</h3>
    <p>{{ post.excerpt | strip_html }}</p>
  </a>
</article>
{% endfor %}