
.article-snippet {
  @extend %item-width;
  margin: 0 auto 30px;
  background-color: $white;
  border-left: 1px solid $accent-color;

  &:hover {
    border-color: $primary-color;
  }

  &__link {
    text-decoration: none;
    padding: 20px 20px 10px;
    display: block;
  }

  &__title {
    margin-bottom: 10px;
  }
}