.icon {
  &--aws {
    fill: #F7A80D;
  }

  &--bootstrap {
    fill: #5B4282;
  }

  &--css3 {
    fill: #1572B6;
  }

  &--docker {
    fill: #019BC6;
  }

  &--git {
    fill: #F34F29;
  }

  &--grunt {
    fill: #FCAA1A;
  }

  &--gulp {
    fill: #EB4A4B;
  }

  &--html5 {
    fill: #E44D26;
  }

  &--js {
    fill: #F0DB4F;
  }

  &--mocha {
    fill: #8d6748;
  }

  &--node {
    fill: #83CD29;
  }

  &--php {
    fill: #6181B6;
  }

  &--react {
    fill: #61DAFB;
  }

  &--sass {
    fill: #CB6699;
  }

  &--vs {
    fill: #68217a;
  }

  &--vs-code {
    fill: #E47537;
  }

  &--webpack {
    fill: #1c78c0;
  }
}