
.cv-link {
  display: inline-block;
  line-height: 30px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  .icon-document {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 5px;
    fill: $primary-color;
  }
}