
.post {
  &__content {
    @extend %item-width;
    margin: 0 auto $vertical-spacing;
    padding: 20px;
    background-color: $white;
    border-left: 1px solid $accent-color;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: $vertical-spacing;
    }

    ul,
    ol {
      margin-top: 0;
      margin-bottom: $vertical-spacing;
      padding-left: 30px;
    }

    li {
      padding-left: 5px;
      margin-bottom: 5px;
    }

    pre.highlight {
      background-color: $highlight-color;
      margin: 0 0 $vertical-spacing;
      padding: 20px;
      overflow-x: auto;
      @include rem(font-size, 14px);
    }
  }
}
