
.main {
  @include tablet-up {
    width: calc(100% - 240px);
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include desktop {
    width: calc(100% - 300px);
    padding-left: 100px;
    padding-right: 100px;
  }
}
