
html {
  color: $primary-color;
  font-size: $base-font-size;
  font-family: $copy-font-family;
  font-weight: $copy-font-weight;
}

body {
  background-color: $secondary-color;

  @include tablet-up {
    display: flex;
  }
}
